.chart-bar-height-10 { height: 10px; }
.chart-bar-height-15 { height: 15px; }
.chart-bar-height-20 { height: 20px; }
.chart-bar-height-25 { height: 25px; }
.chart-bar-height-30 { height: 30px; }
.chart-bar-height-35 { height: 35px; }
.chart-bar-height-40 { height: 40px; }
.chart-bar-height-45 { height: 45px; }
.chart-bar-height-50 { height: 50px; }
.chart-bar-height-55 { height: 55px; }
.chart-bar-height-60 { height: 60px; }
